extends ../layout

block content
  div.content(class="jumbotron vertical-center text-center")
    h1(class="display-3")= title
    br

    if connected
      div.containerConn(class="alert alert-success")
        p= conn

    if noTodoFound
      div.containerErr(class="alert alert-danger")
        p= error

    if todoSuccess
      div.containerErr(class="alert alert-success")
        p= success

    br
    div.containerAddTask
      a(href="/todos/add")
        button(class="btn btn-info") Ajouter une tâche

    br 
    h4 Visualiser vos tâches enregistrées
    div.contairerTodos
    table(class="table")
      tr
        th(scope="col") État
        th(scope="col") Nom de la tâche
        th(scope="col") Description de la tâche
        th(scope="col") Completée
        th(scope="col") Créée
        th(scope="col") Modifiée
        th(scope="col") Supprimer
      each todo in todos
        tr
          td(scope="row")
            a(href='/todos/' + todo.id + '?_method=patch')
              img(src=todo.completion == 0 ? "https://png.icons8.com/metro/1600/unchecked-checkbox.png" : "https://png.icons8.com/metro/1600/checked-checkbox.png" ,  width='20px', height='20px')
          td(scope="row") #{todo.nom}
          td(scope="row") #{todo.description}
          td(scope="row") #{todo.completion == 0 ? "Non" : "Oui"}
          td(scope="row") #{moment(todo.createdAt).locale('fr').format("dddd d MMMM YYYY à HH:mm:ss")}
          td(scope="row") #{moment(todo.updatedAt).locale('fr').format("dddd d MMMM YYYY à HH:mm:ss") == "Invalid date" ? "Non" : moment(todo.updatedAt).locale('fr').format("dddd d MMMM YYYY à HH:mm:ss")}
          td(scope="row")
            a(href='/todos/' + todo.id + '?_method=delete')
              img(src="https://png.icons8.com/metro/1600/delete.png",  width='20px', height='20px')